li > ion-icon {
  font-size: 3rem;
  transition: 900ms;
  color: rgb(34 197 94);
}

li:hover ion-icon {
  transform: scale(1.2);
  transition: 900ms;
}

.active {
  cursor: pointer;
  color: rgb(34 197 94);
}
.cancelled {
  color: red;
}
