/* Eliminar Spin de inputNumber */
/* #dni[type="number"]::-webkit-inner-spin-button {
  display: none;
} */
.input_placeholder::placeholder {
  padding: 3px;
  padding-left: 10px;
  border: 1px solid rgb(34 197 94);
  border-radius: 3px;
  background-color: gainsboro;
}
.input_placeholder:focus::placeholder {
  border: 2px solid rgb(27, 157, 75);
}
label > ion-icon {
  position: absolute;
  right: 15px;
  top: 15px;
  font-size: 20px;
  color: rgb(34 197 94);
}
